<div class="base1">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="separador">
            <h1>Login</h1>
        </div>
        <div class="separador">
            <div class="separador__input">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username">
            </div>
            <div class="separador__input">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password">
            </div>
        </div>
        <div class="separador">
            <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
        </div>
        <div class="separador">
            <p>¿No tienes cuenta? <a href="">Registrarse</a></p>
        </div>
    </form>
</div>